<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css")
        title Books List
    body
        header
            .brand
                a(href="/#/") Toko Baju
            div
                a(href="/#/signin") Sign In
                a(href="/#/cart") Cart
        main#main-container
        block content
        block foot
            footer Hak Cipta Ahmad @2020
